/////// EJERCICI 1

// google font
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap");
$font-family-sans-serif: "Golos Text", sans-serif;

// navbar fixed-top
body {
  padding-top: 104px;
}

// custom colors
$primary: #fca311;
$secondary: #14213d;
$danger: #fb5859;

// custom navbar menu
$navbar-light-hover-color: $danger;
$navbar-light-color: $secondary;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='15'><path fill='#{$navbar-light-color}' fill-rule='evenodd' d='M0 0h18v3H0V0zm0 6h18v3H0V6zm0 6h18v3H0v-3z'/></svg>");
$navbar-light-toggler-border-color: none;
$link-hover-color: $danger;
$link-color: $secondary;

/////// EJERCICI 2

// custom tabs
.nav-tabs .nav-link-nyuudo {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 4px white;
  border-radius: none;
  background-color: white;
  margin: 0.5em 0.5em 0 0.5em;
  padding: 0.5rem;
}

.nav-tabs .nav-link-nyuudo:hover {
  color: $danger;
}

.nav-tabs .nav-link-nyuudo:active {
  border-bottom: solid 4px $danger;
}

.nav-tabs .nav-link-nyuudo:focus {
  border-bottom: solid 4px $danger;
}

/////// EJERCICI 3

// custom card (Bootstrap insitu)

/////// EJERCICI 4

// custom accordion
$accordion-color: $secondary;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
$accordion-icon-color: $primary;
$accordion-icon-active-color: $danger;
$accordion-button-active-bg: none;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='12'><path fill='none' stroke='#{$accordion-icon-color}' stroke-width='3' d='M1 1l8 8 8-8'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='12'><path fill='none' stroke='#{$accordion-icon-active-color}' stroke-width='3' d='M1 1l8 8 8-8'/></svg>");

// import the whole library of sass
@import "../node_modules/bootstrap/scss/bootstrap";
